{% extends 'base.html.twig' %}
{% block title %}Créer une vente{% endblock %}


{% block body%}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                <h4 class="card-title">Création d'une vente</h4>
                <p class="card-description"> Ajoutez vos ventes en cours </p>
            <div class="forms-sample">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_row(form.nom_produit) }}
                    </div>
                <div class="form-group">
                    {{ form_row(form.description_produit)}}
                </div>
                <div class="form-group">
                    {{ form_row(form.prix_produit)}}
                </div>
                <div class="form-group">
                    {{ form_row(form.clients)}}
                </div>
                <input type="submit" class="btn btn-primary mr-2" value="Envoyer" />
                {{ form_end(form) }}
                </div>
        </div>
    </div>
</div>

{% endblock %}