{% extends 'base.html.twig' %}
{% block title %}Imprimantes{% endblock %}


{% block body%}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Imprimante possédées</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Utilisateur </th>
                        <th> Imprimante </th>
                        <th> Marque </th>
                        <th> Nom </th>
                        <th> Désactivée le </th>
                    </tr>
                </thead>
                <tbody>
                    {% for printer in printers %}
                    <tr>
                        <td class="py-1">
                            {{printer.username }}
                        </td>
                        <td> {{ printer.nomImprimante }} </td>
                        <td> {{ printer.Marque }} </td>
                        <td>
                            {{ printer.typeImprimante }}
                        </td>
                        <td> {{printer.deleted ? printer.deleted|date('d/m/Y-H:m') : 'Imprimante Active' }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}