{% extends 'base.html.twig' %}
{%block stylesheets %}
<link href="{{ asset('DataTables/datatables.min.css') }}" rel="stylesheet">
  

{% endblock %}


{% block body %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Éllement Vendu</h4>
            <table id="ventes" class="table table-striped">
                <thead>
                    <tr>
                        <th> Nom </th>
                        <th> Description </th>
                        <th> Prix  </th>
                        <th> Client </th>
                        <th> Vendeur </th>
                        <th> Date vente </th>
                    </tr>
                </thead>
                <tbody>
                    {% for vente in ventes %}
                    <tr>
                        <td >
                            {{vente.nomproduit }}
                        </td>
                        <td> 
                            {{ vente.descriptionproduit|raw }}
                        </td>
                        <td>
                            {{ vente.prixproduit }} €
                        </td>
                        <td>
                            {{ vente.clients }}
                        </td>
                        <td>
                            {{ vente.vendeur }}
                        </td>
                        <td> 
                            {{vente.datevente|date('d/m/Y')}} 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{{ asset('DataTables/datatables.js') }}"></script>
<script>
// Disable search and ordering by default
$.extend( $.fn.dataTable.defaults, {
    searching: false,
    ordering:  false,
} );
 

$(document).ready( function () {
    $('#ventes').DataTable({
        searching: true,
        ordering:  true,
        paging: true,
        "info": true,
        "autoWidth": false,
        "scrollY": true,
        "scrollX": true,
        "pagingType": "full_numbers",
        language: {
            url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
        },
        custRows: [
            'Aucun résultat',
            'Affichage de 0 à 0 sur 0 éléments'
        ],
        columns:[
            {type: 'string'},
            {type: 'string'},
            {type: 'num'},
            {type: 'string'},
            {type: 'string'},
            {type: 'date'}
        ],
        lengthMenu:[2,10,50,100,200],
        pageLength: 10,
        fixedHeader: {
        header: false,
        footer: true
    }
    
    });
} );
    
</script>
{% endblock %}