{% extends 'base.html.twig' %}
{% block title %}Imprimantes{% endblock %}


{% block body %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Éllement Vendu</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Nom </th>
                        <th> Description </th>
                        <th> Prix  </th>
                        <th> Client </th>
                        <th> Vendeur </th>
                        <th> Date vente </th>
                        th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    {% for vente in ventes %}
                    <tr>
                        <td class="py-1">
                            {{vente.nomproduit }}
                        </td>
                        <td class="py-1"> 
                            {{ vente.descriptionproduit|raw }}
                        </td>
                        <td class="py-1">
                            {{ vente.prixproduit }} €
                        </td>
                        <td class="py-1">
                            {{ vente.clients }}
                        </td>
                        <td class="py-1">
                            {{ vente.vendeur }}
                        </td>
                        <td class="py-1"> 
                            {{vente.datevente|date('d/m/Y')}} 
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <td class="py-1">
                           {{ form_row(form.nomproduit) }}
                        </td>
                        <td class="py-1"> 
                            {{ form_row(form.descriptionproduit) }}
                        </td>
                        <td class="py-1">
                            {{ form_row(form.prixproduit) }}
                        </td>
                        <td class="py-1">
                            {{ form_row(form.clients) }}
                        </td>
                        <td class="py-1">
                            
                        </td>
                        <td class="py-1"> 
                            
                        </td>
                        <td class="py-1">
                            <input type="submit" value="Ajouter" class="btn btn-primary">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}