{% extends 'base.html.twig' %}
{% block title %}Impressions{% endblock %}


{% block body%}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Impressions Effectués</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Utilisateur </th>
                        <th> Imprimante </th>
                        <th> Poids </th>
                        <th> Catégorie </th>
                        <th> Couleur </th>
                        <th> Temps </th>
                        <th> Date impression </th>
                    </tr>
                </thead>
                <tbody>
                    {% for impression in impressions %}
                    <tr>
                        <td class="py-1">
                            {{impression.utilisateur.username }}
                        </td>
                        <td> {{ impression.Imprimantes }} </td>
                        <td>
                            {{ impression.poids }}
                        </td>
                        <td>
                        
                            {{ impression.categorie.nomType }}
                        </td>
                        <td>
                            {{ impression.Couleur.nom }}
                        </td>
                        <td> {{impression.Temps|date('H:m')}} </td>
                        <td>
                            {{ impression.Date|date('d/m/Y') }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}