{% extends 'base.html.twig' %}
{% block title %}Stocks{% endblock %}


{% block body%}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stocks disponibles</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Utilisateur </th>
                        <th> poids </th>
                        <th> Couleur </th>
                        <th> Catégorie </th>
                        <th> Prix </th>
                        <th>Date d'ajout</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stocks in stock %}
                    <tr>
                        <td class="py-1">
                            {{app.user.username }}
                        </td>
                        <td> {{ stocks.poids }} </td>
                        <td>
                            {# {{ stocks.couleur }} #}
                        </td>
                        <td> 
                            {# {{stocks.categorie }} #}
                        </td>
                        <td> {{stocks.prix }} </td>
                        <td> {{stocks.date_ajout|date('d/m/Y-H:m') }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}