{% extends 'Security/base.html.twig' %}

{% block title %}Erreur 500{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <img src="{{ asset('prod/Security/img/logo.png') }}">
        </div>
        <div class="card-block p-3">

            {% if status_code in [455,457] %}
                <h4 class="">Vous ne pouvez pas accéder à l'application</h4>
                <hr>
                <p>{{ exception.message | trans }}</p>
            {% else %}
                <h4 class="card-title">Erreur Serveur ({{ status_code }})</h4>

                <hr>
                <p>Une erreur inconnue s'est produite</p>
            {% endif %}
            {% if status_code == 455 %}
                <a class="form-control btn pointer" href="{{ path('redirect_to_login') }}" style="background-color: #ec7d00; color: #fff; border: 0;"> {{ 'back_to_home'|trans }} </a>
            {% endif %}

        </div>
    </div>
    {% if status_code not in [455,457] %}
        <div class="link">
            <a href="{{ app.request.server.get('http-referer')|default('/') }}" class="pull-right">{{ 'forgot_password_'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}
