{% extends 'base.html.twig' %}
{% block title %}Centre de contrôle{% endblock %}


{% block body%}
<h1> Ajout de Bobines</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.poids) }}
    {{ form_row(form.prix)}}
    {{ form_row(form.couleur)}}
    {{ form_row(form.categorie)}}
    <input type="submit" value="Envoyer" />
{{ form_end(form) }}
{% endblock %}