<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Main</li>
        {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{path('dash_user')}}">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">{{ 'dashboard'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#stock" aria-expanded="false" aria-controls="auth">
                <span class="icon-bg"><i class="mdi mdi-barcode menu-icon"></i></span>
                <span class="menu-title"> {{ 'management'|trans }} </span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="stock">
                <ul class="nav flex-column sub-menu">                    
                    <li class="nav-item"> <a class="nav-link" href="{{ path('imprimante_user') }}"> {{ 'printer'|trans }} </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('stock_user') }}"> {{ 'stock'|trans }} </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('impression_user') }}"> {{ 'print'|trans }} </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#count" aria-expanded="false" aria-controls="count">
                <span class="icon-bg"><i class="mdi mdi-bank menu-icon"></i></span>
                <span class="menu-title"> {{ 'accounting'|trans }} </span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="count">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('compte_user') }}">{{ 'budget'|trans }}</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('ventes_user') }}">{{ 'recipe'|trans }}</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('filament_user') }}">
                <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
                <span class="menu-title">{{ 'filament'|trans }}</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#caisse" aria-expanded="false" aria-controls="caisse">
                <span class="icon-bg"><i class="mdi mdi-currency-eur menu-icon"></i></span>
                <span class="menu-title">{{ 'sold'|trans }}</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="caisse">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('caisse_user') }}">{{ 'casher'|trans }}</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('addclient_user') }}">{{ 'customer.new'|trans }}</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('listclient_user') }}">{{ 'customer.list'|trans }}</a></li>
                </ul>
            </div>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}" target="_blank">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">{{ 'administration'|trans }}</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item documentation-link">
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">{{ 'log.in'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">{{ 'sing.in'|trans }}</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item sidebar-user-actions">
            <div class="user-details">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="sidebar-profile-img">
                                {# <img class="bi bi-person-circle" src="" alt="image"> #}
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="sidebar-profile-text">
                                <p class="mb-1">
                                    {% if app.user %}
                                    {{ app.user.username }}
                                    {% else %}
                                    {{ 'not_logged'|trans }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="badge badge-danger">0</div>
                </div>
            </div>
        </li>
        {% if app.user %}
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">{{ 'settings'|trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="{{path('app_logout')}}" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">{{ 'log.out'|trans }}</span></a>
            </div>
        </li>
        {% endif %}

    </ul>
</nav>