<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Main</li>
        {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{path('dash_user')}}">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="mdi mdi-bank menu-icon"></i></span>
                <span class="menu-title">Comptabilité</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('compte_user') }}">Budget</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('ventes_user') }}">Ventes</a></li>
                </ul>
            </div>
        </li>

        {# <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                <span class="menu-title">Forms</span>
            </a>
        </li> #}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#achat" aria-expanded="false" aria-controls="achat">
                <span class="icon-bg"><i class="mdi mdi-currency-usd menu-icon"></i></span>
                <span class="menu-title">Achats</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="achat">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('ajoutb_user') }}"> Ajout Bobine </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('ajoutimpri_user') }}"> Ajout Imprimantes </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('filament_user') }}">
                <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
                <span class="menu-title">Filaments</span>
            </a>
        </li>
        {# <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Tables</span>
            </a>
        </li> #}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="icon-bg"><i class="mdi mdi-barcode menu-icon"></i></span>
                <span class="menu-title">Gestion</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">                    
                    <li class="nav-item"> <a class="nav-link" href="{{ path('imprimante_user') }}"> Imprimantes </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('stock_user') }}"> Stock </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('ajoutimpress_user') }}"> Ajout Impressions </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('impression_user') }}"> Impressions </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#cais" aria-expanded="false" aria-controls="auth">
                <span class="icon-bg"><i class="mdi mdi-currency-eur menu-icon"></i></span>
                <span class="menu-title">Vendeurs</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="cais">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('caisse_user') }}">Caisse</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('addclient_user') }}">Nouveau client</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('listclient_user') }}">Liste client</a></li>
                </ul>
            </div>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}" target="_blank">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">Administration</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item documentation-link">
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">Connexion</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">Inscription</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item sidebar-user-actions">
            <div class="user-details">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="sidebar-profile-img">
                                {# <img class="bi bi-person-circle" src="" alt="image"> #}
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="sidebar-profile-text">
                                <p class="mb-1">
                                    {% if app.user %}
                                    {{ app.user.username }}
                                    {% else %}
                                    Non connecté
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="badge badge-danger">0</div>
                </div>
            </div>
        </li>
        {% if app.user %}
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">Paramètres</span>
                </a>
            </div>
        </li>
        {# <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-speedometer menu-icon"></i>
                    <span class="menu-title">Take Tour</span></a>
            </div>
        </li> #}
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="{{path('app_logout')}}" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">Log Out</span></a>
            </div>
        </li>
        {% endif %}

    </ul>
</nav>